<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para enviar datos a Flask</title>
    <link rel="stylesheet" href="../static/css/login/login.css">
<body>
    <form class=contenedor action="" method="POST">
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <spam class="advertencia">{{message}}</spam>
                    {% endfor %}
                {%endif%}
            {% endwith %}
        {% endblock %}
        <input class="input_lg" type="text" id="nombre" name="nombre" placeholder="Usuario"><br><br>
        <input class="input_lg" type="password" id="password" name="password" placeholder="Contraseña"><br><br>
        <button type="submit" class="login">Enviar</button>
    </form>
</body>
</html>