<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/operaciones/operaciones.css">
    <title>Document</title>
</head>
<body>
    <main>
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <spam class="advertencia">{{message}}</spam>
                    {% endfor %}
                {%endif%}
            {% endwith %}
        {% endblock %}
        <h1>Ingresar Operacion</h1>
        <section>
            <form id="operacionForm" method="post" action="/home">
                <div class="operacionesContainer" id="operacionesContainer">
                    <div class="operacion" id="operacion-1">
                        <div>
                            <label for="id_operacion-1">Id de Operacion</label>
                            <input type="number" id="id_operacion" name="id_operacion-1" required>
                        </div>
                        <div class="datos">
                            <label for="tipo_opereracion-1">Tipo de Operacion:</label>
                            <select id="tipo_opereracion" name="tipo_opereracion-1" required>
                                <option value="importacion">importacion</option>
                                <option value="exportacion">exportacion</option>
                            </select>
                        </div>
                        <div>
                            <label for="cliente-1">Cliente</label>
                            <input type="text" id="cliente" name="cliente-1" required>
                        </div>
                        <div>
                            <label for="contenedores-1">Contenedores</label>
                            <input type="number" id="contenedores" name="contenedores-1" required>
                        </div>
                        <div>
                            <label for="valor-1">Valor</label>
                            <input type="number" id="valor" name="valor-1" required>
                        </div>
                    </div>
                </div>
                <div class="opciones">
                    <input class="button" type="button" value="Agregar Operacion" onclick="agregarOperacion()">
                    <input class="button" type="submit" value="Guardar">
                </div>
            </form>
        </section>
    </main>
    <script>
        let operacionCount = 1;

        function agregarOperacion() {
            operacionCount++;
            var container = document.getElementById('operacionesContainer');

            var newOperacion = document.createElement('div');
            newOperacion.className = 'operacion';
            newOperacion.id = `operacion-${operacionCount}`;

            newOperacion.innerHTML = `
                <div>
                    <label for="id_operacion-${operacionCount}">Id de Operacion</label>
                    <input type="number" id="id_operacion" name="id_operacion-${operacionCount}" required>
                </div>
                <div class="datos">
                    <label for="tipo_opereracion-${operacionCount}">Tipo de Operacion:</label>
                    <select id="tipo_documento" name="tipo_opereracion-${operacionCount}" required>
                        <option value="importacion">importacion</option>
                        <option value="exportacion">exportacion</option>
                    </select>
                </div>
                <div>
                    <label for="cliente-${operacionCount}">Cliente</label>
                    <input type="text" id="cliente" name="cliente-${operacionCount}" required>
                </div>
                <div>
                    <label for="contenedores-${operacionCount}">Contenedores</label>
                    <input type="number" id="contenedores" name="contenedores-${operacionCount}" required>
                </div>
                <div>
                    <label for="valor-${operacionCount}">Valor</label>
                    <input type="number" id="valor" name="valor-${operacionCount}" required>
                </div>
            `;

            container.appendChild(newOperacion);
        }
    </script>
</body>
</html>